:root{
    --black:#000000;
    --white:#ffffff;
    --aqua:#00A8B5;
    --orange:#E57431;
    --description:#3E3E3E;
    --borderColor:#E3E3E3;
    --regularFont:"Co Headline";
}
@font-face {
    font-family:"Co Headline" ;
    src: url("https://frontenduiux.github.io/OBB_ETenders/fonts/Co%20Headline.otf");
}
html:not(.designer){
    font-size:16px!important;
}
html:not(.designer) body{
    margin:0;
    padding:0;
    font-family: var(--regularFont);
}
html:not(.designer) .runtime-content{
    margin:0!important;
}
html:not(.designer) span[name*="SignUpTitle"] span[name="HeaderTitle"] {
    font-size: 2.5rem !important;
    color:var(--black);
    font-family: var(--regularFont);
}
html:not(.designer) span[name*="SignUpDescription"] span[name*="SubHeader"]{
    color:var(--description);
    font-size:1rem;
    font-family: var(--regularFont);
}
html:not(.designer) [name*="OBB_asterik"]{
    color:var(--aqua)!important;
}
html:not(.designer) [name*="OBB_label"]{
    color:var(--black)!important;
    font-size:1rem!important;
    font-family: var(--regularFont);
}
html:not(.designer) [name="SignUpButton"]{
    background-color:var(--orange)!important;
    border:none!important;
    box-shadow:none!important;
    font-family: var(--regularFont);
    color: white!important;
    min-height: unset;
    height: unset;
    padding: .4rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
}
html:not(.designer) .panel-body,
[name="SignUp.Form Area Item"]{
    background-color:transparent!important;
    box-shadow:none!important;
}
html:not(.designer) [name*="OBB_textbox"]{
    border:1px solid var(--borderColor)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-family: var(--regularFont)!important;
}
[name="LoginButton"]{
    background-color:transparent!important;
    border:none!IMPORTANT;
    box-shadow:none!important;
    color:var(--orange)!important;
    font-size:1rem!important;
    padding: 0!important;
    min-width: fit-content!important;
    margin-left: .7rem;
    font-family: var(--regularFont)!important;
    min-height: unset!important;
}
html:not(.designer) .IntroSection{
    height:100vh;
    display: flex;
}
html:not(.designer) .video-container{
    background-image:url("https://frontenduiux.github.io/OBB_ETenders/Images/Registration%20Background.png");
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    height: 100%;
    width: 50%;
}
html:not(.designer) .form-wrapper{
    width: 50%;
}
html:not(.designer) .video-container .intro{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height: -webkit-fill-available;
    padding:2rem;
}
html:not(.designer) .video-container .intro h2{
    color:white;
    width: 90%;
    font-family: var(--regularFont);
}
html:not(.designer) .form{
    padding: 3rem 4rem;
    height:100%;
}
html:not(.designer) [name*="OBB_dropdown "] .select-box{
    border:1px solid var(--borderColor)!important;
    border-radius:.5rem;
}

html:not(.designer) [name*="OBB_dropdown "] .select-box .input-control-m-c,
html:not(.designer) [name*="OBB_dropdown "] .select-box  .input-control-buttons{
    border:none!important;
}
/**/
.tooltip.validation{
	font-size: .8rem;
	color: #ff6a6a!important;
	background-color: white!important;
	padding: 0.8rem 1rem;
	text-wrap: nowrap;
	height: fit-content;
	border-radius: 0.7rem!important;
	border: 1px solid #d3d3d3!important;
	width: fit-content;
}
.tooltip.validation span{
	line-height: 1.6;
	display: block;
	text-wrap: auto;
}
.tooltip.validation .tooltip-pointer,
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
 /* border:none!important; */
 border-color:transparent!important;
 background: none!important;
 /* position:relative!important; */
}
.tooltip.validation .tooltip-pointer .tooltip-pointer-inner{
  width: 0px;
  height: 0px;
  border-bottom: solid 10px #d3d3d3!important;
  border-left: solid 10px transparent!important;
  border-right: solid 10px transparent!important;
  top: 0.2rem;
}
.theme-entry .day {
    font-size: 1rem;
    height: 2.5rem!important;
    width: 2.5rem!important;
    text-align: center!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.calendar-row .dayname{
	height:2.5rem!important;
	width:2.5rem!important;
	margin-bottom:1rem;
}
.theme-entry .popup.id-calendar-control-popup {
    width: 18rem !important;
    height: auto!important;
}
.theme-entry .top-calendar a.today-title {
    border: none;
    border-radius: 0;
    margin-top: 1rem;
    padding: 0;
}
.theme-entry .top-calendar a {
    margin-top: 1rem;
    background-repeat: no-repeat;
    height: 1rem;
}
.theme-entry .week{
display:flex;
}
.theme-entry .today-text{
	padding-top:1rem;
	padding-bottom:1rem;
}
.datepicker.invalid{
	border: 1px solid var(--input-error-border-color) !important;
	background-color: #f8e8e8!important;
}
.theme-entry .invalid .input-control-watermark *{
	background-color:transparent!important;
}
html:not(.designer) [name="RegistrationLowerSection"]{
    margin-top:1rem;
  
}
html:not(.designer) [name="RegistrationLowerSection"] [name="QuestionLabel"]{
      font-family:var(--regularFont);
    font-size:1rem;
}
span#f26272d5-f664-befc-2ead-d3513424ee2c{
    display:flex;
    align-items:center;
}
@media(min-width:1600px){
    html:not(.designer) .video-container .intro{
        padding:2vw;
    }
    html:not(.designer) .form{
    padding: 3vw 4vw;
}
	html:not(.designer) .video-container .intro h2{
    width: 66%;
}
}
