:root{
    --black:#000000;
    --white:#ffffff;
    --aqua:#00A8B5;
    --orange:#E57431;
    --description:#3E3E3E;
    --borderColor:#E3E3E3;
}
html:not(.designer){
    font-size:16px!important;
}
html:not(.designer) span[name*="SignUpTitle"] span[name="HeaderTitle"] {
    font-size: 2.5rem !important;
    color:var(--black)
}
html:not(.designer) span[name*="SignUpDescription"] span[name*="SubHeader"]{
    color:var(--description);
    font-size:1rem;
}
html:not(.designer) [name*="OBB_asterik"]{
    color:var(--aqua)!important;
}
html:not(.designer) [name*="OBB_label"]{
    color:var(--black)!important;
    font-size:1rem!important;
    
}
html:not(.designer) [name="SignUpButton"]{
    background-color:var(--orange)!important;
    border:none!important;
}
html:not(.designer) .panel-body,
[name="SignUp.Form Area Item"]{
    background-color:transparent!important;
    box-shadow:none!important;
}
html:not(.designer) [name*="OBB_textbox"]{
    border:1px solid var(--borderColor)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

div#\30 8a4b971-0644-46a5-bfb6-ec499e676dd1 {
    width: 40%;
}
