:root{
    --black:#000000;
    --white:#ffffff;
    --aqua:#00A8B5;
    --orange:#E57431;
    --description:#3E3E3E;
    --borderColor:#E3E3E3;
}
html:not(.designer){
    font-size:16px!important;
}
html:not(.designer) .runtime-content{
    margin:0!important;
}
html:not(.designer) span[name*="SignUpTitle"] span[name="HeaderTitle"] {
    font-size: 2.5rem !important;
    color:var(--black)
}
html:not(.designer) span[name*="SignUpDescription"] span[name*="SubHeader"]{
    color:var(--description);
    font-size:1rem;
}
html:not(.designer) [name*="OBB_asterik"]{
    color:var(--aqua)!important;
}
html:not(.designer) [name*="OBB_label"]{
    color:var(--black)!important;
    font-size:1rem!important;
    
}
html:not(.designer) [name="SignUpButton"]{
    background-color:var(--orange)!important;
    border:none!important;
    box-shadow:none!important;
}
html:not(.designer) .panel-body,
[name="SignUp.Form Area Item"]{
    background-color:transparent!important;
    box-shadow:none!important;
}
html:not(.designer) [name*="OBB_textbox"]{
    border:1px solid var(--borderColor)!important;
    font-size:1rem!important;
    border-radius: .5rem!important;
    padding: .4rem 1rem!important;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
[name="LoginButton"]{
    background-color:transparent!important;
    border:none!IMPORTANT;
    box-shadow:none!important;
    color:var(--orange)!important;
    font-size:1rem!important;
}
html:not(.designer) .IntroSection{
    height:100vh;
}
html:not(.designer) .video-container{
    background-image:url("https://frontenduiux.github.io/OBB_ETenders/Images/Registration%20Background.png");
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    height: 100%;
}
html:not(.designer) .video-container .intro{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height: -webkit-fill-available;
    padding:2rem;
}
html:not(.designer) .video-container .intro h2{
    color:white;
    width: 66%;
}
html:not(.designer) .form{
    padding:2rem 4rem;
    height:100%;
}
@media(min-width:1600px){
    html:not(.designer) .video-container .intro{
        padding:2vw;
    }
    html:not(.designer) .form{
    padding:2vw 4vw;
}
}
